<style type="text/css">
    h2{ text-align: center;}
    div{
        border: 1px solid #ccc;
        width: 300px;
        height: 80px;
        color: purple;
        text-align: center;
    }
    *{
        background-image: url(imgs/bg.png);
    }
</style>
